.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The toggle */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8b8b8b;
    transition: .4s;
    border-radius: 30px;
  }
  
  .toggle-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
  .toggle-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
  }
  
  .toggle-card-front {
    background-color: #1b1b1b;
  }
  
  .toggle-card-back {
    background-color: #ddd;
    transform: rotateY(180deg);
  }
  
  input:checked ~ .toggle-card .toggle-card-back {
    transform: rotateY(0);
  }
  
  input:checked ~ .toggle-card .toggle-card-front {
    transform: rotateY(-180deg);
  }
  
  input:checked ~ .toggle-card {
    transform: translateX(1.5em);
  }
  
  input:checked ~ .toggle {
    background-color: #fff;
  }